@font-face {
	font-family: "Pixel";
	font-style: normal;
	font-weight: 400;
	src: url("../files/fonts/editundo.woff2") format("woff2"),
		url("../files/fonts/editundo.woff") format("woff");
	font-display: swap;
}
