.mask-card { 
	$l-1: #{rem-calc(10)};
	$l-2: #{rem-calc(20)};
	$l-3: #{rem-calc(30)};
	$l-1-1: #{rem-calc(11)};
	$l-2-1: #{rem-calc(21)};
	$l-3-1: #{rem-calc(31)};
	$l-100-1: calc(100% - #{$l-1});
	$l-100-2: calc(100% - #{$l-2});
	$l-100-3: calc(100% - #{$l-3});
	$l-100-1-1: calc(100% - #{$l-1-1});
	$l-100-2-1: calc(100% - #{$l-2-1});
	$l-100-3-1: calc(100% - #{$l-3-1});
	clip-path: polygon(
            0% $l-3, $l-1 $l-3, $l-1 $l-2, $l-2 $l-2, $l-2 $l-1, $l-3 $l-1, $l-3 0, 
            $l-100-3 0, $l-100-3 $l-1, $l-100-2 $l-1, $l-100-2 $l-2, $l-100-1 $l-2, $l-100-1 $l-3, 100% $l-3,
            100% $l-100-3, $l-100-1 $l-100-3, $l-100-1 $l-100-2, $l-100-2 $l-100-2, $l-100-2 $l-100-1, $l-100-3 $l-100-1, $l-100-3 100%,
			$l-3 100%, $l-3 $l-100-1, $l-2 $l-100-1, $l-2 $l-100-2, $l-1 $l-100-2, $l-1 $l-100-3, 0% $l-100-3);

	&--border {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgb(255, 255, 255);
			border: rem-calc(1) solid rgb(255, 255, 255);
			opacity: .15;
			pointer-events: none;
			clip-path: polygon(
				0% $l-3, $l-1 $l-3, $l-1 $l-2, $l-2 $l-2, $l-2 $l-1, $l-3 $l-1, $l-3 0, 
				$l-100-3 0, $l-100-3 $l-1, $l-100-2 $l-1, $l-100-2 $l-2, $l-100-1 $l-2, $l-100-1 $l-3, 100% $l-3,
				100% $l-100-3, $l-100-1 $l-100-3, $l-100-1 $l-100-2, $l-100-2 $l-100-2, $l-100-2 $l-100-1, $l-100-3 $l-100-1, $l-100-3 100%,
				$l-3 100%, $l-3 $l-100-1, $l-2 $l-100-1, $l-2 $l-100-2, $l-1 $l-100-2, $l-1 $l-100-3, 0% $l-100-3, 0% $l-3,
				rem-calc(1) $l-3-1, rem-calc(1) $l-100-3-1, $l-1-1 $l-100-3-1, $l-1-1 $l-100-2-1, $l-2-1 $l-100-2-1, $l-2-1 $l-100-1-1, $l-3-1 $l-100-1-1, $l-3-1 calc(100% - #{rem-calc(1)}),
				$l-100-3-1 calc(100% - #{rem-calc(1)}), $l-100-3-1 $l-100-1-1, $l-100-2-1 $l-100-1-1, $l-100-2-1 $l-100-2-1, $l-100-1-1 $l-100-2-1, $l-100-1-1 $l-100-3-1, calc(100% - #{rem-calc(1)}) $l-100-3-1,
				calc(100% - #{rem-calc(1)}) $l-3-1, $l-100-1-1 $l-3-1, $l-100-1-1 $l-2-1, $l-100-2-1 $l-2-1, $l-100-2-1 $l-1-1, $l-100-3-1 $l-1-1, $l-100-3-1 rem-calc(1),
				$l-3-1 rem-calc(1), $l-3-1 $l-1-1, $l-2-1 $l-1-1, $l-2-1 $l-2-1, $l-1-1 $l-2-1, $l-1-1 $l-3-1
			)
		}
	}
}

.mask-banner-link {
    $l-1: #{rem-calc(4)};
	$l-2: #{rem-calc(8)};
	$l-3: #{rem-calc(16)};
	$l-100-1: calc(100% - #{$l-1});
	$l-100-2: calc(100% - #{$l-2});
	$l-100-3: calc(100% - #{$l-3});
	clip-path: polygon(
            0% $l-3, $l-1 $l-3, $l-1 $l-2, $l-2 $l-2, $l-2 $l-1, $l-3 $l-1, $l-3 0, 
            $l-100-3 0, $l-100-3 $l-1, $l-100-2 $l-1, $l-100-2 $l-2, $l-100-1 $l-2, $l-100-1 $l-3, 100% $l-3,
            100% $l-100-3, $l-100-1 $l-100-3, $l-100-1 $l-100-2, $l-100-2 $l-100-2, $l-100-2 $l-100-1, $l-100-3 $l-100-1, $l-100-3 100%,
			$l-3 100%, $l-3 $l-100-1, $l-2 $l-100-1, $l-2 $l-100-2, $l-1 $l-100-2, $l-1 $l-100-3, 0% $l-100-3);
}

.mask-block { 
	$l-1: #{rem-calc(5)};
	$l-2: #{rem-calc(10)};
	$l-3: #{rem-calc(15)};
	$l-1-1: #{rem-calc(6)};
	$l-2-1: #{rem-calc(11)};
	$l-3-1: #{rem-calc(16)};
	$l-100-1: calc(100% - #{$l-1});
	$l-100-2: calc(100% - #{$l-2});
	$l-100-3: calc(100% - #{$l-3});
	$l-100-1-1: calc(100% - #{$l-1-1});
	$l-100-2-1: calc(100% - #{$l-2-1});
	$l-100-3-1: calc(100% - #{$l-3-1});
	clip-path: polygon(
            0% $l-3, $l-1 $l-3, $l-1 $l-2, $l-2 $l-2, $l-2 $l-1, $l-3 $l-1, $l-3 0, 
            $l-100-3 0, $l-100-3 $l-1, $l-100-2 $l-1, $l-100-2 $l-2, $l-100-1 $l-2, $l-100-1 $l-3, 100% $l-3,
            100% $l-100-3, $l-100-1 $l-100-3, $l-100-1 $l-100-2, $l-100-2 $l-100-2, $l-100-2 $l-100-1, $l-100-3 $l-100-1, $l-100-3 100%,
			$l-3 100%, $l-3 $l-100-1, $l-2 $l-100-1, $l-2 $l-100-2, $l-1 $l-100-2, $l-1 $l-100-3, 0% $l-100-3);

	&--border {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgb(255, 255, 255);
			border: rem-calc(1) solid rgb(255, 255, 255);
			opacity: .15;
			pointer-events: none;
			clip-path: polygon(
				0% $l-3, $l-1 $l-3, $l-1 $l-2, $l-2 $l-2, $l-2 $l-1, $l-3 $l-1, $l-3 0, 
				$l-100-3 0, $l-100-3 $l-1, $l-100-2 $l-1, $l-100-2 $l-2, $l-100-1 $l-2, $l-100-1 $l-3, 100% $l-3,
				100% $l-100-3, $l-100-1 $l-100-3, $l-100-1 $l-100-2, $l-100-2 $l-100-2, $l-100-2 $l-100-1, $l-100-3 $l-100-1, $l-100-3 100%,
				$l-3 100%, $l-3 $l-100-1, $l-2 $l-100-1, $l-2 $l-100-2, $l-1 $l-100-2, $l-1 $l-100-3, 0% $l-100-3, 0% $l-3,
				rem-calc(1) $l-3-1, rem-calc(1) $l-100-3-1, $l-1-1 $l-100-3-1, $l-1-1 $l-100-2-1, $l-2-1 $l-100-2-1, $l-2-1 $l-100-1-1, $l-3-1 $l-100-1-1, $l-3-1 calc(100% - #{rem-calc(1)}),
				$l-100-3-1 calc(100% - #{rem-calc(1)}), $l-100-3-1 $l-100-1-1, $l-100-2-1 $l-100-1-1, $l-100-2-1 $l-100-2-1, $l-100-1-1 $l-100-2-1, $l-100-1-1 $l-100-3-1, calc(100% - #{rem-calc(1)}) $l-100-3-1,
				calc(100% - #{rem-calc(1)}) $l-3-1, $l-100-1-1 $l-3-1, $l-100-1-1 $l-2-1, $l-100-2-1 $l-2-1, $l-100-2-1 $l-1-1, $l-100-3-1 $l-1-1, $l-100-3-1 rem-calc(1),
				$l-3-1 rem-calc(1), $l-3-1 $l-1-1, $l-2-1 $l-1-1, $l-2-1 $l-2-1, $l-1-1 $l-2-1, $l-1-1 $l-3-1
			)
		}
	}
}

.mask-btn {
    $l-1: #{rem-calc(3.5)};
	$l-2: #{rem-calc(7)};
	$l-100-1: calc(100% - #{$l-1});
	$l-100-2: calc(100% - #{$l-2});
	clip-path: polygon(
            0% $l-2, $l-1 $l-2, $l-1 $l-1, $l-2 $l-1, $l-2 0, 
            $l-100-2 0, $l-100-2 $l-1, $l-100-1 $l-1, $l-100-1 $l-2, 100% $l-2,
            100% $l-100-2, $l-100-1 $l-100-2, $l-100-1 $l-100-1, $l-100-2 $l-100-1, $l-100-2 100%,
			$l-2 100%, $l-2 $l-100-1, $l-1 $l-100-1, $l-1 $l-100-2, 0% $l-100-2);
}

.mask-group-logo {
    $l-1: #{rem-calc(3)};
	$l-2: #{rem-calc(6)};
	$l-3: #{rem-calc(9)};
	$l-100-1: calc(100% - #{$l-1});
	$l-100-2: calc(100% - #{$l-2});
	$l-100-3: calc(100% - #{$l-3});
	clip-path: polygon(
            0% $l-3, $l-1 $l-3, $l-1 $l-2, $l-2 $l-2, $l-2 $l-1, $l-3 $l-1, $l-3 0, 
            $l-100-3 0, $l-100-3 $l-1, $l-100-2 $l-1, $l-100-2 $l-2, $l-100-1 $l-2, $l-100-1 $l-3, 100% $l-3,
            100% $l-100-3, $l-100-1 $l-100-3, $l-100-1 $l-100-2, $l-100-2 $l-100-2, $l-100-2 $l-100-1, $l-100-3 $l-100-1, $l-100-3 100%,
			$l-3 100%, $l-3 $l-100-1, $l-2 $l-100-1, $l-2 $l-100-2, $l-1 $l-100-2, $l-1 $l-100-3, 0% $l-100-3);
}

.mask-link {
    $l-1: #{rem-calc(5)};
	$l-2: #{rem-calc(10)};
	$l-3: #{rem-calc(15)};
	$l-1-1: #{rem-calc(6)};
	$l-2-1: #{rem-calc(11)};
	$l-3-1: #{rem-calc(16)};
	$l-100-1: calc(100% - #{$l-1});
	$l-100-2: calc(100% - #{$l-2});
	$l-100-3: calc(100% - #{$l-3});
	$l-100-1-1: calc(100% - #{$l-1-1});
	$l-100-2-1: calc(100% - #{$l-2-1});
	$l-100-3-1: calc(100% - #{$l-3-1});
	clip-path: polygon(
            0% $l-3, $l-1 $l-3, $l-1 $l-2, $l-2 $l-2, $l-2 $l-1, $l-3 $l-1, $l-3 0, 
            $l-100-3 0, $l-100-3 $l-1, $l-100-2 $l-1, $l-100-2 $l-2, $l-100-1 $l-2, $l-100-1 $l-3, 100% $l-3,
            100% $l-100-3, $l-100-1 $l-100-3, $l-100-1 $l-100-2, $l-100-2 $l-100-2, $l-100-2 $l-100-1, $l-100-3 $l-100-1, $l-100-3 100%,
			$l-3 100%, $l-3 $l-100-1, $l-2 $l-100-1, $l-2 $l-100-2, $l-1 $l-100-2, $l-1 $l-100-3, 0% $l-100-3);

	&--border {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgb(255, 255, 255);
			border: rem-calc(1) solid rgb(255, 255, 255);
			opacity: .15;
			pointer-events: none;
			clip-path: polygon(
				0% $l-3, $l-1 $l-3, $l-1 $l-2, $l-2 $l-2, $l-2 $l-1, $l-3 $l-1, $l-3 0, 
				$l-100-3 0, $l-100-3 $l-1, $l-100-2 $l-1, $l-100-2 $l-2, $l-100-1 $l-2, $l-100-1 $l-3, 100% $l-3,
				100% $l-100-3, $l-100-1 $l-100-3, $l-100-1 $l-100-2, $l-100-2 $l-100-2, $l-100-2 $l-100-1, $l-100-3 $l-100-1, $l-100-3 100%,
				$l-3 100%, $l-3 $l-100-1, $l-2 $l-100-1, $l-2 $l-100-2, $l-1 $l-100-2, $l-1 $l-100-3, 0% $l-100-3, 0% $l-3,
				rem-calc(1) $l-3-1, rem-calc(1) $l-100-3-1, $l-1-1 $l-100-3-1, $l-1-1 $l-100-2-1, $l-2-1 $l-100-2-1, $l-2-1 $l-100-1-1, $l-3-1 $l-100-1-1, $l-3-1 calc(100% - #{rem-calc(1)}),
				$l-100-3-1 calc(100% - #{rem-calc(1)}), $l-100-3-1 $l-100-1-1, $l-100-2-1 $l-100-1-1, $l-100-2-1 $l-100-2-1, $l-100-1-1 $l-100-2-1, $l-100-1-1 $l-100-3-1, calc(100% - #{rem-calc(1)}) $l-100-3-1,
				calc(100% - #{rem-calc(1)}) $l-3-1, $l-100-1-1 $l-3-1, $l-100-1-1 $l-2-1, $l-100-2-1 $l-2-1, $l-100-2-1 $l-1-1, $l-100-3-1 $l-1-1, $l-100-3-1 rem-calc(1),
				$l-3-1 rem-calc(1), $l-3-1 $l-1-1, $l-2-1 $l-1-1, $l-2-1 $l-2-1, $l-1-1 $l-2-1, $l-1-1 $l-3-1
			)
		}
	}
}

.mask-slot { 
	$l-1: #{rem-calc(5)};
	$l-2: #{rem-calc(10)};
	$l-3: #{rem-calc(15)};
	$l-1-1: #{rem-calc(6)};
	$l-2-1: #{rem-calc(11)};
	$l-3-1: #{rem-calc(16)};
	$l-100-1: calc(100% - #{$l-1});
	$l-100-2: calc(100% - #{$l-2});
	$l-100-3: calc(100% - #{$l-3});
	$l-100-1-1: calc(100% - #{$l-1-1});
	$l-100-2-1: calc(100% - #{$l-2-1});
	$l-100-3-1: calc(100% - #{$l-3-1});
	clip-path: polygon(
            0% $l-3, $l-1 $l-3, $l-1 $l-2, $l-2 $l-2, $l-2 $l-1, $l-3 $l-1, $l-3 0, 
            $l-100-3 0, $l-100-3 $l-1, $l-100-2 $l-1, $l-100-2 $l-2, $l-100-1 $l-2, $l-100-1 $l-3, 100% $l-3,
            100% $l-100-3, $l-100-1 $l-100-3, $l-100-1 $l-100-1, $l-100-3 $l-100-1, $l-100-3 100%,
			$l-3 100%, $l-3 $l-100-1, $l-2 $l-100-1, $l-2 $l-100-2, $l-1 $l-100-2, $l-1 $l-100-3, 0% $l-100-3);

	&--border {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgb(255, 255, 255);
			opacity: .15;
			pointer-events: none;
            z-index: 5;
			clip-path: polygon(
				0% $l-3, $l-1 $l-3, $l-1 $l-2, $l-2 $l-2, $l-2 $l-1, $l-3 $l-1, $l-3 0, 
				$l-100-3 0, $l-100-3 $l-1, $l-100-2 $l-1, $l-100-2 $l-2, $l-100-1 $l-2, $l-100-1 $l-3, 100% $l-3,
				100% $l-100-3, $l-100-1 $l-100-3, $l-100-1 $l-100-1, $l-100-3 $l-100-1, $l-100-3 100%,
				$l-3 100%, $l-3 $l-100-1, $l-2 $l-100-1, $l-2 $l-100-2, $l-1 $l-100-2, $l-1 $l-100-3, 0% $l-100-3, 0% $l-3,
				rem-calc(1) $l-3-1, rem-calc(1) $l-100-3-1, $l-1-1 $l-100-3-1, $l-1-1 $l-100-2-1, $l-2-1 $l-100-2-1, $l-2-1 $l-100-1-1, $l-3-1 $l-100-1-1, $l-3-1 calc(100% - #{rem-calc(1)}),
				$l-100-3-1 calc(100% - #{rem-calc(1)}), $l-100-3-1 $l-100-1-1, $l-100-1-1 $l-100-1-1, $l-100-1-1 $l-100-3-1, calc(100% - #{rem-calc(1)}) $l-100-3-1,
				calc(100% - #{rem-calc(1)}) $l-3-1, $l-100-1-1 $l-3-1, $l-100-1-1 $l-2-1, $l-100-2-1 $l-2-1, $l-100-2-1 $l-1-1, $l-100-3-1 $l-1-1, $l-100-3-1 rem-calc(1),
				$l-3-1 rem-calc(1), $l-3-1 $l-1-1, $l-2-1 $l-1-1, $l-2-1 $l-2-1, $l-1-1 $l-2-1, $l-1-1 $l-3-1
			)
		}
	}
}