$clr-black: rgba(18, 15, 28,1);
$clr-white: rgba(255, 255, 255, 1);
$clr-gray: rgba(255, 255, 255, .45);
$clr-gray-blue: rgba(153, 163, 201, 1);
$clr-accent: rgba(68, 126, 247,1);
$clr-bg-dark: rgb(30, 34, 52, 1);
