.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem-calc(30);

    &__card {
        background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(12.5px);
        height: rem-calc(200);
        padding: rem-calc(5);
        position: relative;
    }

    &__card-top,
    &__card-bottom {
        position: absolute;
        left: rem-calc(31);
        right: rem-calc(31);
        
        &:before,
        &:after {
            content: "";
            position: absolute;
            width: rem-calc(31);
            height: rem-calc(31);
            background: url(../img/decor/corner.png) no-repeat 50% 50% /cover;
            opacity: .15;
        }

        &:before {
            left: rem-calc(-31);
            transform: rotate(90deg);
        }

        &:after {
            right: rem-calc(-31);
            transform: rotate(180deg);
        }
    }

    &__card-top {
        top: 0;

        &:before,
        &:after {
            top: rem-calc(-1);
        }
    }

    &__card-bottom {
        bottom: 0;

        &:before,
        &:after {
            bottom: rem-calc(-1);
        }

        &:before {            
            transform: rotate(0deg);
        }

        &:after {
            transform: rotate(-90deg);
        }
    }
}