.btn {
    display: block;
    position: relative;
    padding: rem-calc(13) rem-calc(25);
    font-weight: 400;
    font-size: rem-calc(14);
    line-height: 1.5;
    cursor: pointer;
    transition: .3s;
    background-color: transparent;
    color: $clr-white;
    @media (max-width: 768px) {
        font-size: rem-calc(20);
        font-size: rem-calc(15) rem-calc(25);
    }

    &--withdraw {
        padding: rem-calc(5px);
        text-align: center;
        max-height: rem-calc(30);
        margin-top: rem-calc(8);
        transform: translateX(#{rem-calc(-10)});

        &:hover {
            transform: translateX(#{rem-calc(-10)}) translateY(0) !important;
        }
    }

    &--center {
        margin: 0 auto;
    }

    &--accent {
        background: $clr-accent;
        color: $clr-white;
    }

    &--black {
        background: #1e2234;
    }

    &:before {
        transition: .3s;
    }

    &:hover {
        transform: translateY(#{rem-calc(-5)});
        &:before {
            background: #fff;
        }
    }
    
    &--active {
        background-color: $clr-accent;
        pointer-events: none;
        &:before {
            opacity: 1;            
        }
    }

    &--active-swap {
        background-color: $clr-accent;
        margin: rem-calc(-22) auto;
        position: relative;
        z-index: 10;
        &:before {
            opacity: 1;           
        }

        &:after {
            left: 50% !important;
            transform: translate(-50%, -50%) !important;
        }

        &:hover {
            transform: translate(0);
        }
    }

    &--header {
        color: $clr-white;
        background-color: $clr-accent;

        &:hover {
            transform: translateY(0);
        }
    }

    &--small {
        font-size: rem-calc(12);
        padding: rem-calc(10) rem-calc(18);
    }

    &:disabled,
    &[disabled] {
        pointer-events: none;
    }

    &--icon {
        padding-left: rem-calc(50);
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: rem-calc(18); 
            width: rem-calc(25);
            height: rem-calc(16);
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
        }
    }

    &--icon-small {
        padding-left: rem-calc(36);
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: rem-calc(9);
            width: rem-calc(18);
            height: rem-calc(14);
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
        }
    }

    &--all-slots {
        &:before {
            background-image: url("../img/svg/filters-btn-all-slots.svg");
        }
    }

    &--providers {
        display: flex;
        align-items: center;
		padding-right: rem-calc(48);
		padding-left: rem-calc(54);
        &:before {
            background-image: url("../img/svg/filters-btn-providers.svg");
        }

        &:after {
			content: "";
            position: absolute;
			top: 50%;
			right: rem-calc(12);
			width: rem-calc(24);
			height: rem-calc(24);
			background: url("../img/svg/icon-more.svg") no-repeat 50% 50% /contain;
			transform: translateY(-50%);
			transition: 0.3s;
    		opacity: 0.3;
        }

		&:hover {
			&:after {
				opacity: 1;
			}
		}
    }

    &--favorites {
        &:before {
            background-image: url("../img/svg/filters-btn-favorites.svg");
        }
    }

    &--live {
        &:before {
            background-image: url("../img/svg/filters-btn-live.svg");
        }
    }

    &--recently {
        &:before {
            background-image: url("../img/svg/filters-btn-recently.svg");
        }
    }

    &--search{
        padding-right: rem-calc(16);
        &:before {
            height: rem-calc(24);
            background-image: url("../img/svg/filters-btn-search.svg");
        }
    }

    &--email {
        background-color: $clr-accent;
        color: $clr-white;
        &:before {
            background-image: url("../img/svg/footer-btn-email.svg");
            opacity: 1;
        }
    }

    &--chat {
        &:before {
            background-image: url("../img/svg/footer-btn-chat.svg");
        }
    }

    &--money {
        &:before {
            background-image: url("../img/svg/header-money.svg");
        }
    }

    &--small-mask {
        $l-1: #{rem-calc(3.5)};
        $l-2: #{rem-calc(7)};
        $l-1-1: #{rem-calc(4.5)};
        $l-2-1: #{rem-calc(8)};
        $l-1: #{rem-calc(3.5)};
        $l-100-1: calc(100% - #{$l-1});
        $l-100-2: calc(100% - #{$l-2});
        clip-path: polygon(
                0% $l-2, $l-1 $l-2, $l-1 $l-1, $l-2 $l-1, $l-2 0, 
                $l-100-2 0, $l-100-2 $l-1, $l-100-1 $l-1, $l-100-1 $l-2, 100% $l-2,
                100% $l-100-2, $l-100-1 $l-100-2, $l-100-1 $l-100-1, $l-100-2 $l-100-1, $l-100-2 100%,
                $l-2 100%, $l-2 $l-100-1, $l-1 $l-100-1, $l-1 $l-100-2, 0% $l-100-2);
    }

    &--small-mask-border {
        $l-1: #{rem-calc(3.5)};
        $l-2: #{rem-calc(7)};
        $l-1-1: #{rem-calc(4.5)};
        $l-2-1: #{rem-calc(8)};
        $l-100-1: calc(100% - #{$l-1});
        $l-100-2: calc(100% - #{$l-2});
        $l-100-1-1: calc(100% - #{$l-1-1});
        $l-100-2-1: calc(100% - #{$l-2-1});
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgb(255, 255, 255);
			border: rem-calc(1) solid rgb(255, 255, 255);
			opacity: .15;
			pointer-events: none;
			clip-path: polygon(
				0% $l-2, $l-1 $l-2, $l-1 $l-1, $l-2 $l-1, $l-2 0, 
                $l-100-2 0, $l-100-2 $l-1, $l-100-1 $l-1, $l-100-1 $l-2, 100% $l-2,
                100% $l-100-2, $l-100-1 $l-100-2, $l-100-1 $l-100-1, $l-100-2 $l-100-1, $l-100-2 100%,
                $l-2 100%, $l-2 $l-100-1, $l-1 $l-100-1, $l-1 $l-100-2, 0% $l-100-2, 0% $l-2,
                #{rem-calc(1)} $l-2-1, #{rem-calc(1)} $l-100-2-1, $l-1-1 $l-100-2-1, $l-1-1 $l-100-1-1, $l-2-1 $l-100-1-1, $l-2-1 calc(100% - #{rem-calc(1)}),
                $l-100-2-1 calc(100% - #{rem-calc(1)}), $l-100-2-1 $l-100-1-1, $l-100-1-1 $l-100-1-1, $l-100-1-1 $l-100-2-1, calc(100% - #{rem-calc(1)}) $l-100-2-1,
                calc(100% - #{rem-calc(1)}) $l-2-1, $l-100-1-1 $l-2-1, $l-100-1-1 $l-1-1, $l-100-2-1 $l-1-1, $l-100-2-1 #{rem-calc(1)},
                $l-2-1 #{rem-calc(1)}, $l-2-1 $l-1-1, $l-1-1 $l-1-1, $l-1-1 $l-2-1, #{rem-calc(1)} $l-2-1
			)
		}
    }

    &--header-mask {
        $l-1: #{rem-calc(3)};
        $l-2: #{rem-calc(6)};
        $l-3: #{rem-calc(12)};
        $l-100-1: calc(100% - #{$l-1});
        $l-100-2: calc(100% - #{$l-2});
        $l-100-3: calc(100% - #{$l-3});
        clip-path: polygon(
            0% $l-3, $l-1 $l-3, $l-1 $l-2, $l-2 $l-2, $l-2 $l-1, $l-3 $l-1, $l-3 0, 
            $l-100-3 0, $l-100-3 $l-1, $l-100-2 $l-1, $l-100-2 $l-2, $l-100-1 $l-2, $l-100-1 $l-3, 100% $l-3,
            100% $l-100-3, $l-100-1 $l-100-3, $l-100-1 $l-100-2, $l-100-2 $l-100-2, $l-100-2 $l-100-1, $l-100-3 $l-100-1, $l-100-3 100%,
			$l-3 100%, $l-3 $l-100-1, $l-2 $l-100-1, $l-2 $l-100-2, $l-1 $l-100-2, $l-1 $l-100-3, 0% $l-100-3);
    }

    &--header-mask-border {
        $l-1: #{rem-calc(3)};
        $l-2: #{rem-calc(6)};
        $l-3: #{rem-calc(12)};
        $l-1-1: #{rem-calc(4)};
        $l-2-1: #{rem-calc(7)};
        $l-3-1: #{rem-calc(13)};
        $l-100-1: calc(100% - #{$l-1});
        $l-100-2: calc(100% - #{$l-2});
        $l-100-3: calc(100% - #{$l-3});
        $l-100-1-1: calc(100% - #{$l-1-1});
        $l-100-2-1: calc(100% - #{$l-2-1});
        $l-100-3-1: calc(100% - #{$l-3-1});
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgb(255, 255, 255);
			border: rem-calc(1) solid rgb(255, 255, 255);
			opacity: .15;
			pointer-events: none;
			clip-path: polygon(
				0% $l-3, $l-1 $l-3, $l-1 $l-2, $l-2 $l-2, $l-2 $l-1, $l-3 $l-1, $l-3 0, 
				$l-100-3 0, $l-100-3 $l-1, $l-100-2 $l-1, $l-100-2 $l-2, $l-100-1 $l-2, $l-100-1 $l-3, 100% $l-3,
				100% $l-100-3, $l-100-1 $l-100-3, $l-100-1 $l-100-2, $l-100-2 $l-100-2, $l-100-2 $l-100-1, $l-100-3 $l-100-1, $l-100-3 100%,
				$l-3 100%, $l-3 $l-100-1, $l-2 $l-100-1, $l-2 $l-100-2, $l-1 $l-100-2, $l-1 $l-100-3, 0% $l-100-3, 0% $l-3,
				rem-calc(1) $l-3-1, rem-calc(1) $l-100-3-1, $l-1-1 $l-100-3-1, $l-1-1 $l-100-2-1, $l-2-1 $l-100-2-1, $l-2-1 $l-100-1-1, $l-3-1 $l-100-1-1, $l-3-1 calc(100% - #{rem-calc(1)}),
				$l-100-3-1 calc(100% - #{rem-calc(1)}), $l-100-3-1 $l-100-1-1, $l-100-2-1 $l-100-1-1, $l-100-2-1 $l-100-2-1, $l-100-1-1 $l-100-2-1, $l-100-1-1 $l-100-3-1, calc(100% - #{rem-calc(1)}) $l-100-3-1,
				calc(100% - #{rem-calc(1)}) $l-3-1, $l-100-1-1 $l-3-1, $l-100-1-1 $l-2-1, $l-100-2-1 $l-2-1, $l-100-2-1 $l-1-1, $l-100-3-1 $l-1-1, $l-100-3-1 rem-calc(1),
				$l-3-1 rem-calc(1), $l-3-1 $l-1-1, $l-2-1 $l-1-1, $l-2-1 $l-2-1, $l-1-1 $l-2-1, $l-1-1 $l-3-1
			)
		}
    }
}

.icon-more {
    margin-left: rem-calc(9);
    width: rem-calc(24);
    height: rem-calc(24);
    transition: .3s;
	opacity: .45;

    &--providers {
        width: rem-calc(14);
        height: rem-calc(8);
        margin-left: rem-calc(5);
    }
}