.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $clr-white;
    transition: .3s;
    padding: rem-calc(10) rem-calc(15);
    cursor: pointer;

	&:disabled,
    &[disabled],
    &--disabled {
        pointer-events: none;
    }

    &--middle {
        font-size: rem-calc(16);
        line-height: 1.5;
        padding: rem-calc(18) rem-calc(15);
        min-width: rem-calc(122);
        color: $clr-gray-blue;

        &:hover {
            color: $clr-white;
        }
    }

    &--color-white {
        color: $clr-white;
    }

    &--center {
        margin: 0 auto;
    }

	&--load-more {
		padding: rem-calc(10) rem-calc(41);
	}

    &:hover {

        .mask-btn,
		.mask-btn-small {
            &--border {
                &:before {
                    background: #fff;
                }
            }
        }
    }

    &--hover {
        &:hover {
            transform: translateY(#{rem-calc(-5)});
        }
    }

    &--icon {
        padding-left: rem-calc(50);

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: rem-calc(10);
            width: rem-calc(30);
            height: rem-calc(24);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            transform: translateY(-50%);
        }

		&:disabled,
		&[disabled] {
			color: rgb(255, 255, 255, .45);

			&:before {
				opacity: .45;
			}
		}
    }

    &--transactions {
        min-width: rem-calc(160);
        text-align: center;
        padding: rem-calc(13);
        justify-content: center;

        svg {
            display: block;
            width: rem-calc(24);
            height: rem-calc(24);
            margin-right: rem-calc(10);
        }
    }

    &--icon-favorites {
        &:before {
            background-image: url("../img/icons/icon-favorites.svg");
        }
    }

    &--icon-back {
        &:before {
            width: rem-calc(20);
            height: rem-calc(15);
            background-image: url("../img/icons/icon-back.svg");
            left: rem-calc(20);
        }
    }

	&--icon-close {
		z-index: 5;
        &:before {
			left: 50%;
            background-image: url("../img/icons/icon-close.svg");
			transform: translate(-50%, -50%);
        }
    }

	&--icon-close-small {
		z-index: 5;
        &:before {
			left: 50%;
            background-image: url("../img/icons/icon-close-small.svg");
			transform: translate(-50%, -50%);
        }
    }

	&--icon-footer-email {
		&:before {
            background-image: url("../img/icons/icon-footer-email.svg");
        }
	}

	&--icon-footer-chat {
		&:before {
            background-image: url("../img/icons/icon-footer-chat.svg");
        }
	}

	&--icon-footer-tg {
		&:before {
            background-image: url("../img/icons/icon-footer-tg.svg");
        }
	}

	&--icon-footer-yt {
		&:before {
            background-image: url("../img/icons/icon-footer-yt.svg");
        }
	}

	&--icon-footer-in {
		&:before {
            background-image: url("../img/icons/icon-footer-in.svg");
        }
	}

	&--icon-footer-tw {
		&:before {
            background-image: url("../img/icons/icon-footer-tw.svg");
        }
	}

	&--icon-footer-fb {
		&:before {
            background-image: url("../img/icons/icon-footer-fb.svg");
        }
	}

	&--icon-favorites-index {
		&:before {
            background-image: url("../img/icons/icon-favorites-index.svg");
        }
	}

	&--icon-live-games {
		&:before {
            background-image: url("../img/icons/icon-live-games.svg");
        }
	}

	&--icon-recently-played {
		&:before {
            background-image: url("../img/icons/icon-recently-played.svg");
        }
	}

	&--icon-all-slots {
		&:before {
            background-image: url("../img/icons/icon-all-slots.svg");
        }
	}
}