.documents {
    display: grid;
    grid-template-columns: rem-calc(500) rem-calc(1080);
    gap: rem-calc(30);
    @media (max-width: 1600px) {
		grid-template-columns: rem-calc(500) rem-calc(1180);
	}
    @media (max-width: 1024px) {
		grid-template-columns: rem-calc(400) rem-calc(900);
        gap: rem-calc(22);
	}
    @media (max-width: 768px) {
		grid-template-columns: rem-calc(890);
	}
    @media (max-width: 480px) {
		grid-template-columns: rem-calc(650);
	}

    &__nav-list {
        position: relative;
        padding: rem-calc(30);
        align-self: start;
    }

    &__nav-link {
        position: relative;
        display: block;
        margin-bottom: rem-calc(20);
        padding: rem-calc(10);
        color: $clr-white;
        font-weight: 400;
        font-size: rem-calc(16);
        line-height: 1.5;
        display: flex;
        align-items: center;

        &:last-child {
            margin-bottom: 0;
        }

        .mask-block {
            background: rgba(30, 34, 52, 0.65);
            pointer-events: none;
        }

        &--active {
            pointer-events: none;

            .mask-block {
                background: $clr-accent;
            }

            .mask-block--border {
                &:before {
                    background: transparent;
                }
            }

            .documents__nav-link-icon {
                background-image: url("../img/icon-png/icon-doc-active.png");
            }
        }

        &:hover,
        &--active {
            .documents__nav-link-icon-more {
                path {
                    fill: $clr-white;
                }
            }
        }

        &:hover {
            .mask-block--border {
                &:before {
                    background: $clr-white;
                }
            }
        }
    }

    &__nav-link-icon {
        width: rem-calc(50);
        height: rem-calc(50);
        margin-right: rem-calc(10);
        background: url("../img/icon-png/icon-doc.png") no-repeat 50% 50% /contain;
    }

    &__info {
        position: relative;
        padding: rem-calc(45) 0 rem-calc(55);
        font-weight: 400;
        font-size: rem-calc(14);
        line-height: 1.79;
        color: #AFBBE9;
    }

    &__nav-link-icon-more {
        width: rem-calc(30);
        height: rem-calc(30);
        margin-left: rem-calc(10);

        path {
            transition: .3s;
        }
    }

    &__nav-link-icon-text {
        display: inline-block;
        margin-right: auto;
        max-width: calc(100% - #{rem-calc(100)});
        overflow: hidden;
        text-overflow: ellipsis;
        @media (max-width: 1024px) {
            font-size: rem-calc(20);
        }
    }

    &__swiper-slide {
        padding: 0 rem-calc(40);
        max-height: 0;
        overflow: hidden;

        &.swiper-slide-active {
            max-height: none;
        }
    }

    &__title {
        color: $clr-white;
        font-weight: 400;
        font-size: rem-calc(18);
        line-height: 1.5;
        padding-bottom: rem-calc(44);
        border-bottom: rem-calc(1) solid rgba(255, 255, 255, .1);
        margin-bottom: rem-calc(30);
        @media (max-width: 1024px) {
            font-size: rem-calc(26);
        }
    }

    &__content {
        @media (max-width: 1024px) {
            font-size: rem-calc(23);
        }
    }

    h1,
    h2,
    h3 {
        margin: rem-calc(25) 0;
        color: $clr-white;
    }

    h4,
    h5,
    h6 {
        margin-top: rem-calc(25);
    }

    p {
        margin-bottom: rem-calc(25);
    }

    li {
        margin-bottom: rem-calc(25);

        & > :first-child {
            color: $clr-white;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        margin-bottom: 25;
    }
}