.filters {
    position: relative;
    margin-bottom: rem-calc(30);
    z-index: 2;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(12.5px);
        pointer-events: none;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1.8fr .6fr;
        gap: rem-calc(30);
        padding: rem-calc(18);
    }

    &__col {
        display: flex;
        align-items: center;

        &:nth-child(2) {
            justify-content: center;
        }

        &:nth-child(3) {
            justify-content: flex-end;
        }
    }

    &__btn-wrapper {
        position: relative;
        margin-right: 0;
    }

    &__btn-providers {
        &:hover {
            transform: translateY(0) ;
        }

        &--active {
			color: $clr-white;
			
			&:before,
			&:after {
				opacity: 1;
			}
		}
    }

    &__list-providers {
        position: absolute;
        top: calc(100% + #{rem-calc(18)});
        left: 50%;
        background: $clr-black;
        width: 100%;
        transform: translateX(-50%);
        padding: rem-calc(10);
        transition: .3s;
        pointer-events: none;
        opacity: 0;

        &--open {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &__btn-item {
        color: $clr-white;
        transition: .3;
        margin-bottom: rem-calc(10);
        transition: .3;
        cursor: pointer;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            opacity: .7;
        }
    }

    &__btn {
        margin-right: rem-calc(21);

        &:last-child {
            margin-right: 0;
        }
    }

    &__btn-label {
        max-width: rem-calc(200);
        transition: .3s;
        
        &:focus,
        &:hover {
            transform: translateY(0);
            color: $clr-white;
        }
    }

    &__input-search {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $clr-gray;

        &::placeholder {
            transition: .3s;
        }

        &:hover,
        &:focus {
            color: $clr-white;
        }
    }
}