.filters {
    padding: rem-calc(18);
    margin-bottom: rem-calc(30);
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(12.5px);
    min-height: rem-calc(40);
    display: grid;
    grid-template-columns: 1fr 1.8fr .6fr;
    gap: rem-calc(30);
    position: relative;
    z-index: 2;
    border: rem-calc(1px) solid rgba(255, 255, 255, .15);

    &__col {
        display: flex;
        align-items: center;

        &:nth-child(2) {
            justify-content: center;
        }

        &:nth-child(3) {
            justify-content: flex-end;
        }
    }

    &__btn-wrapper {
        position: relative;
        margin-right: 0;
    }

    &__btn-list {
        position: absolute;
        top: 100%;
        left: 50%;
        background: $clr-black;
        width: 100%;
        transform: translateX(-50%);
        padding: rem-calc(10);
        transition: .3;
        pointer-events: none;
        opacity: 0;

        &:hover {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &__btn-item {
        color: $clr-white;
        transition: .3;
        margin-bottom: rem-calc(10);
        transition: .3;
        cursor: pointer;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            opacity: .7;
        }
    }

    &__btn {
        position: relative;
        padding: rem-calc(12) rem-calc(25) rem-calc(14) rem-calc(50);
        font-weight: 700;
        font-size: rem-calc(14);
        line-height: 1.5;
        cursor: pointer;
        transition: .3s;
        margin-right: rem-calc(21);
        background: rgba(255, 255, 255, .05);
        color: $clr-white;
        overflow: auto;

        &:last-child {
            margin-right: 0;
        }

        &:disabled,
        &[disabled] {
            color: $clr-gray;
            pointer-events: none;

            &:before {
                opacity: .45;
            }
        }

        &--accent {
            background: $clr-accent;
        }

        &--icon {
            &:before {
                content: "";
                position: absolute;
                top: 48%;
                left: rem-calc(18);
                width: rem-calc(25);
                height: rem-calc(16);
                transform: translateY(-50%);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 50% 50%;
            }
        }

        &--all-slots {
            &:before {
                background-image: url("../img/svg/filters-btn-all-slots.svg");
            }
        }

        &--providers {
            position: relative;
            margin-right: 0;
            padding-right: rem-calc(15);
            align-items: center;
            display: flex;
            &:before {
                background-image: url("../img/svg/filters-btn-providers.svg");
            }

            &:hover {
                & + .filters__btn-list {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }

        &--favorites {
            &:before {
                background-image: url("../img/svg/filters-btn-favorites.svg");
            }
        }

        &--live {
            &:before {
                background-image: url("../img/svg/filters-btn-live.svg");
            }
        }

        &--recently {
            &:before {
                background-image: url("../img/svg/filters-btn-recently.svg");
            }
        }

        &--search{
            padding-right: rem-calc(106);
            &:before {
                height: rem-calc(24);
                background-image: url("../img/svg/filters-btn-search.svg");
            }
        }

        &:hover {
            opacity: 0.7;
        }
    }
}