.footer {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.01);
    -webkit-backdrop-filter: blur(22.5px);
    backdrop-filter: blur(22.5px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    padding: rem-calc(46px) rem-calc(160);
    margin: auto rem-calc(-160) 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: rem-calc(100);
    margin-top: auto;
    @media (max-width: 1024px) {
        padding-bottom: rem-calc(120);
        padding-left: rem-calc(60);
        margin-left: rem-calc(-60);
        grid-template-columns: 1.3fr 2fr 1fr;
    }
    @media (max-width: 768px) {
		grid-template-columns: 1fr;
        gap: rem-calc(40);
	}

    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: rem-calc(90);
        right: 0;
        height: 1.4px;
        background: rgba(255, 255, 255, 0.15);
        @media (max-width: 1024px) {
            left: 0;
        }
    }

    &__col {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: 768px) {
            justify-content: center;
            gap: rem-calc(60);
        }

        &--menu {
            @media (max-width: 768px) {
                display: none;
            }
        }

        &--social {
            justify-content: flex-end;
            @media (max-width: 768px) {
                justify-content: center;
                gap: rem-calc(40);
            }
        }        
    }

    &__links-wrapper {
        @media (max-width: 768px) {
            text-align: center;
        }
    }

    &__logo-wrapper {
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__logo {
        width: rem-calc(50);
        height: rem-calc(50);
        margin-right: rem-calc(10);
    }

    &__logo-text {
        text-transform: uppercase;
        color: $clr-gray;
        font-weight: 400;
        font-size: rem-calc(14);
        line-height: .9;

        &--pixel {
            font-family: "Pixel";
            font-size: rem-calc(18);
            color: $clr-white;
        }
    }

    &__col-name {
        font-family: "Pixel";
        font-weight: 400;
        font-size: rem-calc(16);
        line-height: .9;
        margin-bottom: rem-calc(16);
        color: $clr-white;
        text-transform: uppercase;
        transition: .3s;
        display: inline-block;

        &--support {
            margin-bottom: rem-calc(9);

            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &__support {
        width: rem-calc(150);

        @media (max-width: 768px) {
            width: auto;
            display: flex;
            gap: rem-calc(40);
        }
    }

    &__col-text {
        font-weight: 400;
        font-size: rem-calc(12);
        line-height: 1.16;
        color: $clr-gray;
        margin-bottom: rem-calc(18);
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__support-btn {
        margin-bottom: rem-calc(18);
        padding: rem-calc(10) rem-calc(18) rem-calc(12) rem-calc(45);
        font-size: rem-calc(12);
        line-height: 1.5;
        min-width: rem-calc(166);
        @media (max-width: 768px) {
            margin-bottom: rem-calc(0);
            font-size: rem-calc(20);
            padding: rem-calc(15) rem-calc(27) rem-calc(18) rem-calc(67);

            &:before {
                left: rem-calc(20);
                width: rem-calc(30);
                height: rem-calc(27);
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link-list {
        color: $clr-gray;
        font-weight: 400;
        font-size: rem-calc(14);
        line-height: 1.5;
        letter-spacing: 0.06em;
    }

    &__link-item {
        margin-bottom: .5em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link-link {
        padding: rem-calc(7) 0;
        transition: .3s;

        &:hover {
            color: $clr-white;
        }
    }

    &__social-link {
        width: rem-calc(42);
        height: rem-calc(42);
        margin-right: rem-calc(10);
        font-size: 0;
        padding: 0;
        background-color: rgba(255, 255, 255, .03);
        @media (max-width: 768px) {
            width: rem-calc(62);
            height: rem-calc(62);
            margin-right: 0;
        }

        &:before {
            left: 50%;
			transform: translate(-50%, -50%);
            @media (max-width: 768px) {
                width: rem-calc(42);
                height: rem-calc(42);
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
