.footer {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(22.5px);
    padding: rem-calc(46px) rem-calc(160);
    margin: 0 rem-calc(-160);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: rem-calc(100);

    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: rem-calc(90);
        right: 0;
        height: rem-calc(1);
        background: rgba(255, 255, 255, 0.15);
    }

    &__col {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &--social {
            justify-content: flex-end;
        }
    }

    &__logo-wrapper {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: rem-calc(50);
        height: rem-calc(50);
        margin-right: rem-calc(10);
    }

    &__logo-text {
        text-transform: uppercase;
        color: $clr-gray;
        font-weight: 400;
        font-size: rem-calc(14);
        line-height: .9;

        &--pixel {
            font-family: "Pixel";
            font-size: rem-calc(18);
            color: $clr-white;
        }
    }

    &__col-name {
        font-family: "Pixel";
        font-weight: 400;
        font-size: rem-calc(16);
        line-height: .9;
        margin-bottom: rem-calc(16);
        color: $clr-white;
        text-transform: uppercase;

        &--support {
            margin-bottom: rem-calc(9);
        }
    }

    &__support {
        width: rem-calc(150);
    }

    &__col-text {
        font-weight: 400;
        font-size: rem-calc(12);
        line-height: 1.16;
        color: $clr-gray;
        margin-bottom: rem-calc(18);
    }

    &__support-btn {
        margin-bottom: rem-calc(18);
        padding: rem-calc(10) rem-calc(18) rem-calc(12) rem-calc(45);
        font-size: rem-calc(12);
        line-height: 1.5;
        min-width: rem-calc(166);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link-list {
        color: $clr-gray;
        font-weight: 400;
        font-size: rem-calc(14);
        line-height: 1.5;
        letter-spacing: 0.06em;
    }

    &__link-item {
        margin-bottom: .5em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link-link {
        padding: rem-calc(7) 0;
        transition: .3s;

        &:hover {
            color: $clr-white;
        }
    }

    &__social-link {
        width: rem-calc(42);
        height: rem-calc(42);
        margin-right: rem-calc(10);
        font-size: 0;
        padding: 0;

        &:before {
            left: 50%;
			transform: translate(-50%, -50%);
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
