.header {
	display: flex;
	align-items: center;
	position: relative;
    z-index: 2;

	&__container {		
		padding: rem-calc(24) 0;
		border-bottom: rem-calc(1) dashed rgba(255, 255, 255, .25);
		width: 100%;
		display: flex;
		align-items: center;
	}

	&__nav {
		display: flex;
		font-size: 14px;
		line-height: 1.5;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin-right: auto;
	}

	&__nav-item {
		margin-right: 34px;
		position: relative;

		&:last-child {
			margin-right: 0;
			&:before {
				left: rem-calc(26);
			}
		}

		&:before {
			content: "";
			position: absolute;
			bottom: rem-calc(-5);
			left: 0;
			height: rem-calc(1);
			right: 100%;
			background-color: $clr-accent;
			transition: .3s;
		}

		&:hover {
			color: rgba(255, 255, 255, .5);

			&:before {
				right: 0;
			}
		}
	}

	&__nav-link {
		position: relative;
		transition: .3s;
		color: #fff;

		&--icon-bonus {
			padding-left: rem-calc(23);

			&:before {
				position: absolute;
				content: "";
				top: 50%;
				left: 0;
				width: rem-calc(15);
				height: rem-calc(23);
				background: url("../img/svg/header-bonus.svg") no-repeat 50% 50% /cover;
				animation: bonus-icon 0.3s infinite alternate ease-in;
			}
		}
	}

	&__user-info {
		display: flex;
		align-items: center;
	}

	&__user-money {
		display: flex;
		align-items: center;
		margin-right: rem-calc(20);
	}

	&__user-ballance {
		min-width: rem-calc(150);
		margin-right: rem-calc(-30);
		padding-right: rem-calc(40);
		color: $clr-white;

		&:before {
			opacity: 1;
		}
	}

	&__user-about {
		background: $clr-black;
		padding-right: rem-calc(12);
		padding-left: 0;
		display: flex;
		align-items: center;

		&:hover {
			transform: translate(0);

			.icon-more {
				opacity: 1;
			}
		}
	}

	&__user-icon {
		display: block;
		width: rem-calc(42);
		height: rem-calc(42);
		margin-right: rem-calc(12);
		margin-top: rem-calc(-12);
		margin-bottom: rem-calc(-12);
	}

	&__user-information {
		position: absolute;
		top: 100%;
		right: 0;
		background: rgb(161, 161, 161);
		color: $clr-black;
		font-family: "Pixel";
		min-width: rem-calc(250);
		text-transform: uppercase;
		opacity: 0;
		pointer-events: none;
		transition: .3s;

		&--open {
			opacity: 1;
			pointer-events: auto;
		}
	}

	&__user-information-top {
		display: flex;
		padding: rem-calc(20);
		border-bottom: rem-calc(1) solid rgb(148, 148, 148);
	}

	&__user-information-icon {
		display: block;
		width: rem-calc(50);
		height: rem-calc(50);
		margin-right: rem-calc(15);
	}

	&__user-information-text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__user-information-name {
		font-size: rem-calc(30);
		line-height: 1;

		&--pro {
			position: relative;
			padding-right: rem-calc(40);

			&:before {
				position: absolute;
				content: "pro";
				top: 0;
				right: 0;
				font-size: rem-calc(16);
				line-height: .9;
				color: green;
				padding: rem-calc(2) rem-calc(5);
				background-color: rgb(173, 249, 173);
			}
		}
	}

	&__user-settings-list,
	&__user-information-list {
		padding: rem-calc(20);
		font-size: rem-calc(24);
		color: $clr-black;
	}

	&__user-information-list {
		border-bottom: rem-calc(1) solid rgb(148, 148, 148);
	}

	&__user-settings-item,
	&__user-information-item {
		margin-bottom: rem-calc(15);

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__user-settings-link,
	&__user-information-link {
		display: flex;
		align-items: center;
		transition: .3s;
		&:hover {
			opacity: .45;
		}

		&--pink {
			display: inline-block;
			background-color: rgb(251, 177, 230);
			padding: rem-calc(5);
			min-width: rem-calc(30);
			border-radius: 50%;
			margin-top: rem-calc(-5);
			margin-bottom: rem-calc(-5);
			text-align: center;
			margin-left: rem-calc(5);
			color: rgb(255, 106, 228);
		}
	}

	&__user-information-email {
		font-size: rem-cacl(15);
		line-height: 1;
	}
}
