.header {
	display: flex;
	align-items: center;

	&__container {		
		padding: rem-calc(24) 0;
		border-bottom: 1px dashed rgba(255, 255, 255, .25);
		width: 100%;
	}

	&__nav {
		display: flex;
		font-size: 14px;
		line-height: 1.5;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}

	&__nav-item {
		margin-right: 34px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__nav-link {
		position: relative;
		transition: .3s;
		color: #fff;

		&:hover {
			color: rgba(255, 255, 255, .5);
		}

		&--icon-bonus {
			padding-left: rem-calc(23);

			&:before {
				position: absolute;
				content: "";
				top: 50%;
				left: 0;
				width: rem-calc(15);
				height: rem-calc(23);
				background: url("../img/svg/header-bonus.svg") no-repeat 50% 50% /cover;
				animation: bonus-icon 0.3s infinite alternate ease-in;
			}
		}
	}
}
