.hello {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem-calc(30);
    margin-bottom: rem-calc(30);
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }

    &__card {
        position: relative;
        padding: rem-calc(40) rem-calc(40) rem-calc(40) rem-calc(60);
        display: grid;
        grid-template-columns: rem-calc(250) 1fr;
        gap: rem-calc(56);
        @media (max-width: 1024px) {
            gap: rem-calc(36);
        }
        @media (max-width: 768px) {
            grid-template-columns: rem-calc(350) 1fr;
            gap: rem-calc(26);
        }
        @media (max-width: 480px) {
            grid-template-columns: rem-calc(300) 1fr;
            gap: rem-calc(16);
        }
    }

    &__card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__card-title {
        font-family: "Pixel", Arial, Helvetica, sans-serif;
        color: $clr-white;
        font-size: rem-calc(70);
        line-height: .895;
        text-transform: uppercase;
        margin-bottom: rem-calc(8);
        line-height: .9;
        @media (max-width: 1024px) {
            font-size: rem-calc(60);
        }
        @media (max-width: 480px) {
            font-size: rem-calc(50);
        }
    }

    &__card-title-big {
        font-size: 1.42em;
    }

    &__card-text {
        color: $clr-gray;
        font-weight: 700;
        font-size: rem-calc(14);
        line-height: 1.5;
        letter-spacing: .05em;
        text-transform: uppercase;
        @media (max-width: 768px) {
            font-size: rem-calc(20);
        }
        
    }

    &__card-btn {
        margin-top: rem-calc(30);
        padding: rem-calc(15) rem-calc(37);
	}

    &__card-img-wrapper {
        position: relative;
        display: flex;
        justify-content: center;

        &--hero {
            align-items: flex-end;
            margin-top: rem-calc(-20);
            margin-bottom: rem-calc(-40);
            background: url("../img/hello/hero.gif") no-repeat 50% 100% /contain;
            @media (max-width: 768px) {
                margin-top: rem-calc(0);
            }
        }

        &--spaceship {
            align-items: center;
            animation: spaceship 3s infinite alternate linear;
        }
    }

    &__card-img {
        max-height: rem-calc(340);
        width: auto;
        @media (max-width: 768px) {
            max-height: rem-calc(170);
        }

        &--hero {
            opacity: 0;
        }
    }
}