.menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: rem-calc(90);
    background: rgba(255, 255, 255, 0.01);
    -webkit-backdrop-filter: blur(12.5px);
    backdrop-filter: blur(12.5px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem-calc(20);
    z-index: 10;

    @media (max-width: 1600px) {
        padding: rem-calc(15);
    }

    @media (max-width: 1024px) {
        top: auto;
        right: 0;
        max-width: none;
        padding: rem-calc(20) rem-calc(15);
    }

    @media (max-width: 768px) {
        padding: rem-calc(30) rem-calc(15);
    }

    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        height: 1.4px;
        background: rgba(255, 255, 255, 0.15);
        display: none;
        @media (max-width: 1024px) {
            display: block;
        }
    }

    &__logo {
        width: rem-calc(50);
        height: rem-calc(50);
        margin-bottom: rem-calc(45);
        flex-shrink: 0;
        @media (max-width: 1600px) {
            margin-bottom: rem-calc(35);
        }
        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__nav {
        margin-bottom: auto;
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: rem-calc(50);
        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__nav-item {
        position: relative;
        margin-bottom: rem-calc(50);
        @media (max-width: 1600px) {
            margin-bottom: rem-calc(40);
        }
        @media (max-width: 768px) {
            margin-bottom: rem-calc(20);
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__nav-link {
        padding: rem-calc(5);
        font-size: 0;
        opacity: .5;
        transition: .3s;
        display: flex;
        justify-content: center;

        &:hover {
            opacity: 1;

            & + .menu__hover-title {
                opacity: 1;
            }
        }
    }

    &__hover-title {
        position: absolute;
        top: 50%;
        left: calc(100% + #{rem-calc(20)});
        transform: translateY(-50%);
        background: $clr-black;
        white-space: nowrap;
        pointer-events: none;
        opacity: 0;
        transition: .3s;
    }

    &__nav-icon {
        &--one {width: rem-calc(32); height: rem-calc(26);}
        &--two {width: rem-calc(18); height: rem-calc(30);}
        &--three {width: rem-calc(26); height: rem-calc(29);}
        &--four {width: rem-calc(18); height: rem-calc(25);}
        &--five {width: rem-calc(26); height: rem-calc(18);}
        &--six {width: rem-calc(24); height: rem-calc(24);}
        &--seven {width: rem-calc(32); height: rem-calc(32);}
        &--eight {width: rem-calc(26); height: rem-calc(26);}
    }

    &__settings-list {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: rem-calc(50);
        gap: rem-calc(13);
        @media (max-width: 1024px) {
            flex-direction: row;
            gap: rem-calc(50);
        }
    }

    &__settings-item {
        display: flex;
        justify-content: center;
        font-size: 0;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        @media (max-width: 1024px) {
            flex-direction: row;
        }

        &--mob {
            display: none;
            @media (max-width: 1024px) {
                display: block;
            }
        }
    }

    &__settings-link,
    &__settings-btn {
        padding: rem-calc(3);
        font-size: 0;
        opacity: .325;
        transition: .3s;
        display: flex;
        justify-content: center;
        cursor: pointer;
        @media (max-width: 1024px) {
            flex-direction: row;
            display: flex;
            width: rem-calc(70);
            height: rem-calc(70);
            justify-content: center;
            align-items: center;
            opacity: 1;
        }

        &:hover {
            opacity: 1;

            & + .menu__hover-title {
                opacity: 1;
                @media (max-width: 1024px) {
                    display: none;
                }
            }
        }
    }

    &__nav-icon {
        &--telegram {
            width: rem-calc(23);
            height: rem-calc(22);
            @media (max-width: 1024px) {
                width: rem-calc(46);
                height: rem-calc(44);
            }
        }
        &--light-theme {
            width: rem-calc(23);
            height: rem-calc(23);
            @media (max-width: 1024px) {
                width: rem-calc(46);
                height: rem-calc(46);
            }
        }
        &--volume {
            width: rem-calc(23);
            height: rem-calc(23);
            @media (max-width: 1024px) {
                width: rem-calc(46);
                height: rem-calc(46);
            }
        }
        &--other {
            width: rem-calc(23);
            height: rem-calc(19);
            @media (max-width: 1024px) {
                width: rem-calc(46);
                height: rem-calc(38);
            }
        }

        &--menu {
            width: rem-calc(20);
            height: rem-calc(20);
            @media (max-width: 1024px) {
                width: rem-calc(40);
                height: rem-calc(40);
            }
        }
    }

    .menu__mob-menu {
        position: absolute;
        bottom: rem-calc(64);
        left: 50%;
        padding: rem-calc(30);
        width: rem-calc(250);
        max-width: rem-calc(250);
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__mob-menu-item {
        font-size: rem-calc(20);
        text-transform: uppercase;
        color: $clr-white;
        margin-bottom: rem-calc(15);
        text-align: center;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;


        &:last-child {
            margin-bottom: 0;
        }
    }
}