.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    pointer-events: none;
    transition: .3s;
    display: flex;
    justify-content: center;
	align-items: flex-start;
    padding-top: rem-calc(100);
	padding-bottom: rem-calc(100);
    opacity: 0;
    color: $clr-white;

	&__nav-fiat-btn-select-money,
	&__nav-crypto-btn-select-money {
		pointer-events: auto;
	}

    &__button {
        padding: rem-calc(13) rem-calc(20);
        font-size: rem-calc(12);
        text-transform: uppercase;
        @media (max-width: 1024px) {
            font-size: rem-calc(18);
            padding: rem-calc(15) rem-calc(20);
        }

        &--registration {
            width: rem-calc(142);
			@media (max-width: 768px) {
				width: rem-calc(170);
			}
        }

        &--login {
            width: rem-calc(142);
			@media (max-width: 768px) {
				width: rem-calc(170);
			}
        }
    }

    &__btn-create-new-account,
    &__btn-login-to-account {
        font-size: rem-calc(14);
        line-height: 1.5;
        padding-top: rem-calc(15);
        padding-bottom: rem-calc(16);
    }

    &__btn-create-new-account {
        max-width: rem-calc(280);
        margin: 0 auto;
    }

    &--open {
        pointer-events: auto;
        background: rgba(33, 38, 58, 0.65);
		-webkit-backdrop-filter: blur(17.5px);
        backdrop-filter: blur(17.5px);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
        cursor: pointer;
        opacity: 1;
    }

    &__window {
        position: relative;
    }

    &__content {
        display: none;
        cursor: default;

        &--active {
            display: block;
        }

        &--login{
            width: rem-calc(840);
			@media (max-width: 768px) {
				width: rem-calc(430);
			}
        }

        &--registration  {
            width: rem-calc(1030);
            @media (max-width: 768px) {
				width: rem-calc(630);
			}
        }

        &--code-confirm  {
            width: rem-calc(364px);
        }

        &--deposit-crypto,
        &--deposit-fiat,
        &--deposit-nft,
        &--buy-crypto,
        &--swap,
        &--transfer,
        &--withdraw {
            width: rem-calc(558px);
            padding: rem-calc(28) rem-calc(30);
            @media (max-width: 1024px) {
				width: rem-calc(610px);
			}
        }

        &--transactions {
            width: rem-calc(880);
            padding: rem-calc(28) rem-calc(30);
			@media (max-width: 480px) {
				width: rem-calc(630);
			}
        }
    }

    &__grid {
        display: grid;
        gap: rem-calc(30);
        &--2-col-login {
            grid-template-columns: 1fr 1fr;
			@media (max-width: 768px) {
                grid-template-columns: 1fr;
			}
        }

        &--2-col-registration {
            grid-template-columns: 1fr 1fr;
            gap: 0 rem-calc(20);
            margin-bottom: rem-calc(20);
        }
    }

    &__img-wrapper {
        padding:  rem-calc(15) rem-calc(15) 0 rem-calc(30);
        border-right: rem-calc(1) solid rgba(255, 255, 255, .15);

		@media (max-width: 768px) {
			display: none;
		}
    }

    &__img {
        max-width: 100%;
        height: auto;
    }

    &__content-wrapper {

        &--login {
            padding:  rem-calc(22) rem-calc(88) rem-calc(45) rem-calc(30);
			@media (max-width: 768px) {
				padding:  rem-calc(80) rem-calc(30) rem-calc(45) rem-calc(30);
			}
        }

        &--registration {
            padding:  rem-calc(22) rem-calc(20) rem-calc(26) rem-calc(28);
			@media (max-width: 768px) {
                width: rem-calc(630);
				padding:  rem-calc(80) rem-calc(30) rem-calc(45) rem-calc(30);
			}
        }

        &--code-confirm {
            padding:  rem-calc(34) rem-calc(30) rem-calc(30) rem-calc(30);
        }
    }

    &__content-top {
        display: flex;
        justify-content: space-around;
        padding-bottom: rem-calc(16);
        border-bottom: rem-calc(1) solid rgba(255, 255, 255, .15);
        gap: rem-calc(20);
        margin-bottom: rem-calc(20);

        &--registration {
            justify-content: center;
        }

        &--big {
            position: relative;
            justify-content: space-between;
            align-items: center;
            padding-right: rem-calc(45);
            @media (max-width: 1024px) {
                padding-right: rem-calc(55);
            }
        }
    }

    &__btn-transactions {
        position: relative;
        text-transform: uppercase;
        font-size: rem-calc(12);
        line-height: 1.5;
        margin-left: rem-calc(15);
        padding-left: rem-calc(20);
        color: #99A3C9;
        cursor: pointer;
        @media (max-width: 1024px) {
            font-size: rem-calc(20);
        }

        &:hover {
            color: $clr-white;
            svg {
                path {
                    fill: $clr-white;
                }
            }
        }
    }

    &__btn-nav-transactions {
        position: relative;
        text-transform: uppercase;
        font-size: rem-calc(12);
        line-height: 1.5;
        color: $clr-white;
        cursor: pointer;
		padding: rem-calc(13) rem-calc(38);
		min-width: rem-calc(160);
        @media (max-width: 1024px) {
            font-size: rem-calc(18);
            padding-top: rem-calc(15);
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: contain;            
        }

        &--deposit {
			padding-left: rem-calc(69);
			&:before {
				background-image: url("../img/modal/icon-transactions-deposit.svg");
				width: rem-calc(14);
				height: rem-calc(14);
				left: rem-calc(38);
                @media (max-width: 1024px) {
                    width: rem-calc(18);
				    height: rem-calc(18);
                }
			}  
        }

		&--buy-and-swap {
			padding-left: rem-calc(63);
			&:before {
				background-image: url("../img/modal/icon-transactions-buy-swap.svg");
				width: rem-calc(16);
				height: rem-calc(16);
				left: rem-calc(38);
                @media (max-width: 1024px) {
                    left: rem-calc(28);
                    width: rem-calc(20);
				    height: rem-calc(20);
                }
			}
        }

		&--withdraw {
			padding-left: rem-calc(63);
			&:before {
				background-image: url("../img/modal/icon-transactions-withdraw.svg");
				width: rem-calc(15);
				height: rem-calc(15);
				left: rem-calc(38);
                @media (max-width: 1024px) {
                    left: rem-calc(28);
                    width: rem-calc(19);
				    height: rem-calc(19);
                }
			}  
        }

		&--bill {
			padding-left: rem-calc(77);
			&:before {
				background-image: url("../img/modal/icon-transactions-bill.svg");
				width: rem-calc(14);
				height: rem-calc(14);
				left: rem-calc(53);
                @media (max-width: 1024px) {
                    left: rem-calc(48);
                    width: rem-calc(18);
				    height: rem-calc(18);
                }
			}  
        }
    }

    &__btn-transactions-icon {
        width: rem-calc(16);
        height: rem-calc(16);
        transform: translateY(#{rem-calc(4)});
        display: inline-block;
        margin-right: rem-calc(5);
        @media (max-width: 1024px) {
            width: rem-calc(22);
            height: rem-calc(22);
        }
    }

    &__content-top-btn {
        width: rem-calc(142);
        text-align: center;
        font-size: rem-calc(12);
        line-height: 1.2;
        text-transform: uppercase;
        margin-right: rem-calc(20);

        &:last-child {
            margin-right: 0;
        }
    }

    &__title {
        @media (max-width: 1024px) {
            font-size: rem-calc(22);
        }
        &--code-confirm {
            font-size: rem-calc(14);
            line-height: 1.5;
            margin-bottom: rem-calc(30);
            @media (max-width: 1024px) {
                font-size: rem-calc(22);
            }
        }
    }

    &__close-modal {
        position: absolute;
        top: rem-calc(22);
        right: rem-calc(20);
        font-size: 0;
        width: rem-calc(44);
        height: rem-calc(44);
        padding: 0;

        &--small {
            top: rem-calc(25);
            right: rem-calc(30);
            width: rem-calc(30);
            height: rem-calc(30);
            @media (max-width: 1024px) {
                width: rem-calc(40);
                height: rem-calc(40);
            }
        }
    }

    &__label {
        position: relative;
        margin-bottom: rem-calc(20);
        padding: rem-calc(5);
        display: grid;
        grid-template-columns: rem-calc(52) 1fr;
        width: 100%;
        gap: rem-calc(3);
        @media (max-width: 1024px) {
            grid-template-columns: rem-calc(65) 1fr;
            padding: rem-calc(8);
            gap: rem-calc(12);
        }

        &--btn-no-hover {
            &:hover {
                transform: translateY(0);
            }
        }

        &--select {
            .mask-modal--border {
                z-index: 2;
            }
            .modal--select-label {
                z-index: 3;
            }
            &:hover {
                .mask-bg {
                    &:before {
                        background: $clr-white;
                    }
                }
            }
        }

        &--bg-transparent {
            background: transparent;
        }

        &--withdraw {
            grid-template-columns: 1fr rem-calc(46) rem-calc(46) rem-calc(46) rem-calc(46);
            background-color: rgba(255, 255, 255, 0.05);
			-webkit-backdrop-filter: blur(27.5px);
            backdrop-filter: blur(27.5px);
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-webkit-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
            gap: rem-calc(4);

            @media (max-width: 768px) {
                grid-template-columns: 1fr rem-calc(60) rem-calc(60) rem-calc(60) rem-calc(60);
                gap: rem-calc(6);
            }
        }

        &--withdraw-full {
            grid-template-columns: 1fr;
            background-color: rgba(255, 255, 255, 0.05);
			-webkit-backdrop-filter: blur(27.5px);
            backdrop-filter: blur(27.5px);
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-webkit-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
        }

        &--select {
            background: transparent;
        }

        &:has(.modal__input:not(:placeholder-shown)),
        &:has(.modal__input:focus) {
            .modal__input-name {
                top: rem-calc(2);
                transform: translate(0);
            }
            .modal__input {
                opacity: 1;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &--custom-buy {
            margin-bottom: rem-calc(5);
        }

        &--custom-swap {
            margin-bottom: rem-calc(0);
        }

        &--flex {
            display: flex;
            align-items: center;
            gap: 0 rem-calc(15);

            .modal__nav-crypto-btn {
                display: flex;
                padding: rem-calc(12);
                align-items: center;
                gap: 0 rem-calc(5);
                min-width: rem-calc(90);

                &:hover {
                    transform: translate(0);
                }

                &--swap {
                    min-width: rem-calc(100);
                }

                &--transfer {
                    justify-content: space-between;
                    min-width: rem-calc(140);
                }
            }

            .modal__nav-crypto-btn-icon {
                transform: translate(0);
            }

            .modal__input {
                padding-top: 0;
            }
        }

        &--light {
            background-color: rgba(255, 255, 255, 0.05);
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-webkit-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
        }

        &--bg-transparent {
            background: transparent;
        }
    }

    &__label-icon {
        width: rem-calc(42);
        height: rem-calc(42);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        @media (max-width: 1024px) {
            width: rem-calc(60);
            height: rem-calc(60);
        }

        &--email {
            background-image: url("../img/icon-png/icon-blue-email.png");
        }

        &--password {
            background-image: url("../img/icon-png/icon-blue-password.png");
        }

        &--math {
            background-image: url("../img/icon-png/icon-blue-math.png");
        }

        &--name {
            background-image: url("../img/icon-png/icon-blue-name.png");
        }

        &--flag {
            background-image: url("../img/icon-png/icon-blue-flag.png");
        }

        &--dollar {
                background-image: url("../img/icon-png/icon-blue-dollar.png");
        }

        &--gift {
            background-image: url("../img/icon-png/icon-blue-gift.png");
        }

        &--nickname {
            background-image: url("../img/icon-png/icon-blue-nickname.png");
        }

        &--birthday {
            background-image: url("../img/icon-png/icon-blue-birthday.png");
        }

        &--gender {
            background-image: url("../img/icon-png/icon-blue-gender.png");
        }

        &--code {
            background-image: url("../img/icon-png/icon-blue-code.png");
        }

        &--ukraine {
            background-image: url("../img/user/icon-ukraine.svg");
        }
    }

    &__input-wrapper {
        position: relative;
        width: 100%;
        padding-right: rem-calc(25);
        display: flex;
        align-items: center;

        &--password {
            padding-right: rem-calc(50);
        }

        &--withdraw {
            padding: 0;
        }

        &--money,
        &--code {
            padding-right: rem-calc(100);
        }

        &--money-dollar,
        &--money-btc {
            padding-right: rem-calc(150);
        }
    }

    &__input-text-money {
        position: absolute;
        display: block;
        width: rem-calc(80);
        top: 50%;
        right: rem-calc(20);
        padding: 0;
        transform: translateY(-50%);
        text-align: right;

        &--buy {
            width: rem-calc(140);
            font-size: rem-calc(18);
            right: rem-calc(25);
            line-height: 1.1;
        }

        &--buy-small {
            display: inline-block;
            font-size: rem-calc(12);
            color: #99A3C9;
        }
    }

    &__input-text-money-top {
        font-size: rem-calc(12);
        line-height: 1.5;
        text-align: right;
        color: rgba(255, 255, 255, .35);

        @media (max-width: 768px) {
            font-size: rem-calc(16);
        }
    }

    &__input-text-money-bottom {
        font-size: rem-calc(13);
        line-height: 1.5;
        text-align: right;
        letter-spacing: -0.05em;
        color: $clr-white;
        margin-top: rem-calc(-5);
        @media (max-width: 768px) {
            margin-top: rem-calc(-2);
            font-size: rem-calc(17);
        }

        &--green {
            color: #66BE47;
            font-size: rem-calc(15);
            @media (max-width: 768px) {
                font-size: rem-calc(17);
            }
        }
    }

    &__input-btn {
        position: absolute;
        display: block;
        width: rem-calc(26);
        height: rem-calc(26);
        top: 50%;
        right: rem-calc(13);
        padding: 0;
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateY(-50%);
        background-color: transparent;
        cursor: pointer;

        &:hover {
            transform: translate(0, -50%);
        }

        &--password {
            background-image: url(../img/icons/icon-input-btn-password.svg);
        }

        &--copy {
            background-image: url(../img/icons/icon-input-btn-copy.svg);
            background-size: rem-calc(20) rem-calc(20);
        }

        &--key {
            width: rem-calc(34);
            height: rem-calc(34);
            background-image: url("../img/icons/icon-input-btn-key.svg");
            opacity: .25;
        }

        &--good {
            background-image: url(../img/icons/icon-input-btn-good.svg);
        }

        &--time {
            background-image: url(../img/icons/icon-input-btn-time.svg);
        }
    }

    &__input-text {
        position: absolute;
        top: 50%;
        right: rem-calc(50);
        transform: translateY(-50%);
        font-size: rem-calc(12);
        line-height: 1.5;
        color: $clr-white;
        opacity: .25;
    }

    &__input-name {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        font-size: rem-calc(12);
        line-height: 1.5;
        transition: .3s;
        transform: translateY(-50%);
        color: $clr-gray;
        pointer-events: none;
        @media (max-width: 1024px) {
            font-size: rem-calc(16);
        }
    }

    &__input {
        padding-top: rem-calc(12);
        display: inline-block;
        width: 100%;
        background-color: transparent;
        opacity: 0;
        transition: .3s;
        font-size: rem-calc(13);
        line-height: 2;
        color: $clr-white;

        @media (max-width: 1024px) {
            font-size: rem-calc(20);
        }

        &:not([type="password"]) {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:read-only {
            font-size: rem-calc(16);
            line-height: 1.5;
            cursor: text;
        }

        &--withdraw:not([type=password]) {
            padding: rem-calc(10) rem-calc(20);
        }

        &--code {
            letter-spacing: rem-calc(24);
        }

        &--copy {
            padding-top: 0;
        }
    }

    &__line {
        height: rem-calc(1);
        background-color: #3d445c;
        margin-bottom: rem-calc(20);
    }

    &__text {
        text-align: center;
        font-size: rem-calc(12);
        line-height: 1.5;
        margin-bottom: rem-calc(15);
    }

    &__social-btn-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem-calc(20);
    }

    &__social-btn {
        width: rem-calc(52);
        height: rem-calc(52);
        padding: 0;
        background: rgba(0, 0, 0, .15);

        @media (max-width: 1024px) {
            width: rem-calc(60);
            height: rem-calc(60);
        }

        &:after {
            content: "";
            top: 50%;
            left: 50%;
            width: rem-calc(18);
            height: rem-calc(18);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: contain;
            position: absolute;
            transform: translate(-50%, -50%);
            @media (max-width: 1024px) {
                width: rem-calc(24);
                height: rem-calc(24);
            }
        }

        &--tg {
            &:after {
                background-image: url("../img/modal/icon-tg.svg");
            }
        }

        &--yt {
            &:after {
                background-image: url("../img/modal/icon-yt.svg");
            }
        }

        &--in {
            &:after {
                background-image: url("../img/modal/icon-in.svg");
            }
        }

        &--tw {
            &:after {
                background-image: url("../img/modal/icon-tw.svg");
            }
        }

        &--fb {
            &:after {
                background-image: url("../img/modal/icon-fb.svg");
            }
        }
    }

    &__btn {
        display: block;
        text-transform: uppercase;
        height: rem-calc(52);
        width: 100%;
        padding: rem-calc(16);
        cursor: pointer;
        background-color: $clr-accent;
        color: $clr-white;
        text-align: center;
        font-size: rem-calc(14);
        line-height: 1.5;
        @media (max-width: 1024px) {
            font-size: rem-calc(18);
            padding: rem-calc(15);
            height: rem-calc(60);
        }

        &--registration {
            max-width: rem-calc(280);
            margin: 0 auto;
        }

        &--code-confirm {
            max-width: rem-calc(164);
            background: transparent;
            margin: rem-calc(20) auto 0;
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
        gap: rem-calc(15);
        margin: 0 rem-calc(-30);
        border-bottom: rem-calc(1) solid rgba(255, 255, 255, .15);
        padding-bottom: rem-calc(20);

        &--transactions {
            margin: 0;
			flex-wrap: wrap;
            @media (max-width: 1024px) {
                font-size: rem-calc(20);                
            }
        }
    }

    &__nav-btn {
        height: rem-calc(44);
        max-width: rem-calc(44);
        font-size: 0;
        white-space: nowrap;
        padding: rem-calc(22);
        @media (max-width: 1024px) {
            height: rem-calc(60);
            max-width: rem-calc(60);
            width: rem-calc(60);
        }

        &.btn--active {
            font-size: rem-calc(12);
            line-height: 1.5;
            max-width: none;
            padding: rem-calc(13) rem-calc(16) rem-calc(13) rem-calc(40);
            @media (max-width: 1024px) {
                font-size: rem-calc(20);
                max-width: none;
                width: auto;
            }
        }

        &--transactions {
            max-width: none;
            width: rem-calc(160);
            font-size: rem-calc(12);
            line-height: 1.5;
            text-align: center;
            padding: rem-calc(13) rem-calc(16);

            &.btn--active {
                padding: rem-calc(13) rem-calc(16);
            }
        }

        &:after {
            content: "";
            top: 50%;
            left: 50%;
            width: rem-calc(13);
            height: rem-calc(13);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: contain;
            position: absolute;
            transform: translate(-50%, -50%);
        }

        &--deposit {
            &:after {
                background-image: url("../img/modal/icon-add.svg");
            }
            &.btn--active {
                &:after {
                    left: rem-calc(26);
                }
            }
        }

        &--buy-crypto {
            &:after {
                background-image: url("../img/modal/icon-dollar.svg");
                width: rem-calc(16);
                height: rem-calc(16);
            }
            &.btn--active {
                &:after {
                    left: rem-calc(24);
                }
            }
        }

        &--swap {
            &:after {
                background-image: url("../img/modal/icon-swap.svg");
                width: rem-calc(15);
                height: rem-calc(15);
            }
            &.btn--active {
                &:after {
                    left: rem-calc(25);
                }
            }
        }

        &--swap-2 {
            &:after {
                background-image: url("../img/modal/icon-swap2.svg");
                width: rem-calc(24);
                height: rem-calc(26);
            }
        }

        &--transfer {
            &:after {
                background-image: url("../img/modal/icon-transfer.svg");
                width: rem-calc(24);
                height: rem-calc(18);
            }

            &.btn--active {
                &:after {
                    left: rem-calc(22);
                }
            }
        }

        &--withdraw {
            &:after {
                background-image: url("../img/modal/icon-withdraw.svg");
                width: rem-calc(15);
                height: rem-calc(15);
            }
            &.btn--active {
                &:after {
                    left: rem-calc(24);
                }
            }
        }
    }

    &__main-content-bg {
        background: rgba(30, 34, 52, .65);
        margin: 0 rem-calc(-30) rem-calc(-30);
        padding: 0 rem-calc(30) rem-calc(30);
        min-height: rem-calc(560);
    }

    &__table {
        color: #99A3C9;
        font-size: rem-calc(14);
        line-height: 1.5;
        @media (max-width: 1024px) {
            font-size: rem-calc(20);
        }
    }

    &__table-header {
        display: flex;
        justify-content: space-between;
        padding: rem-calc(14) 0;
        border-bottom: rem-calc(1) solid rgba(255, 255, 255, 0.15);
    }

    &__table-content--empty {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: rem-calc(485);
        max-height: rem-calc(485);
    }

    &__btn-icon-arrow {
        display: inline-block;
        width: rem-calc(18);
        height: rem-calc(14);
        transform: translateY(#{rem-calc(2)});
    }

    &__btn-icon-arrow-back {
        display: inline-block;
        width: rem-calc(18);
        height: rem-calc(14);
        transform: translateY(#{rem-calc(2)});
    }

    &__btn-icon-add {
        display: inline-block;
        width: rem-calc(14);
        height: rem-calc(14);
        transform: translateY(#{rem-calc(1)});
    }

    &__nav-crypto {
        display: flex;
        justify-content: center;
        gap: rem-calc(25);
        padding-top: rem-calc(20);
        margin-bottom: rem-calc(20);

        &--buy {
            margin-bottom: rem-calc(5);
        }

        &--select {
            gap: rem-calc(10);
            justify-content: space-between;
            padding-top: 0;
        }
    }

    &__nav-crypto-btn {
        color: $clr-white;
        @media (max-width: 1024px) {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: rem-calc(20);
        }
        &.btn--active {
            background: #66BE47;
        }

        &--select {
            padding: rem-calc(12) rem-calc(18);
            @media (max-width: 767px) {
                text-align: center;
                padding: rem-calc(18);
            }
            &.btn--active {
                background-color: rgba(0, 0, 0, .15);

                &:before {
                    background: $clr-accent;
                }
            }
        }

        &--buy {
            padding: rem-calc(14) rem-calc(30);
            font-size: rem-calc(16);
            pointer-events: auto;
            @media (max-width: 1024px) {
                font-size: rem-calc(20);
            }
        }
    }

    &__nav-nft-btn {
        color: $clr-white;
        display: flex;
        align-items: center;
        padding-left: rem-calc(10);
        &.btn--active {
            background: transparent;
        }
    }

    &__nav-nft-btn-icon {
        display: inline-block;
        width: rem-calc(30);
        height: auto;
        margin-right: rem-calc(10);
    }

    &__nav-crypto-btn-icon {
        display: inline-block;
        width: rem-calc(14);
        height: auto;
        transform: translateY(#{rem-calc(2)});

        @media (max-width: 768px) {
            width: rem-calc(24);
            margin-right: rem-calc(8);
            transform: translateY(0);
        }
    }

    &__qr-wrapper {
        margin-bottom: rem-calc(15);
        padding: rem-calc(20) rem-calc(20) rem-calc(20) rem-calc(25);
        background: rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: space-between;
        gap: rem-calc(25);
    }

    &__qr-info {
        max-width: rem-calc(220);
    }

    &__qr-info-text {
        font-size: rem-calc(12);
        line-height: 1.5;
        color: #99A3C9;
        margin-bottom: rem-calc(8);

        &--accent {
            color: $clr-accent;
        }
    }

    &__qr-info-code {
        font-size: rem-calc(14);
        line-height: 1.5;
        color: #99A3C9;
        margin-bottom: rem-calc(18);
        word-wrap: break-word;
        &--green {
            color: #66BE47;
        }
    }

    &__qr-img {
        display: block;
        width: rem-calc(150);
        height: rem-calc(150);
    }

    &__about {
        font-size: rem-calc(12);
        line-height: 1.5; 
        color: #A0ABD1;
        margin-bottom: rem-calc(15);
        @media (max-width: 768px) {
            font-size: rem-calc(14);
        }
        &--white {
            color: $clr-white;
        }
    }

    &__about-more {
        padding: rem-calc(17);
        font-size: rem-calc(12);
        line-height: 1.5; 
        color: #A0ABD1;
        @media (max-width: 1024px) {
            font-size: rem-calc(16);
        }

        &--accent {
            color: $clr-accent;
            text-decoration: underline;
        }

        &:hover {
            transform: translateY(0);

            &:before {
                background: #3d445c;
            }
        }
    }

    &__fiat-text {
        font-size: rem-calc(14);
        text-align: center;
        line-height: 1.5;        
        text-align: center;        
        color: #666D8A;
        margin-bottom: rem-calc(13);
        @media (max-width: 768px) {
            font-size: rem-calc(18);
        }

        &--buy {
            text-align: left;
            margin-bottom: rem-calc(20);
        }
    }

    &__fiat-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem-calc(15);
        margin-bottom: rem-calc(36);

        &--buy {
            margin-bottom: rem-calc(24);
        }
    }

    &__fiat-btn {
        height: rem-calc(80);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem-calc(18) rem-calc(15);
        cursor: pointer;

        &--active {
            pointer-events: none;
            &:before {
                background: $clr-accent;
            }
        }
    }

    &__fiat-btn-img {
        max-width: 100%;
        height: auto;
    }

    &__buy-btn-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: rem-calc(20);

        &--swap {
            margin-bottom: rem-calc(170);
        }

        &--transfer {
            margin-bottom: rem-calc(170);
        }

        &--withdraw {
            margin-bottom: rem-calc(34);
        }
    }

    &__buy-text {
        font-size: rem-calc(12);
        line-height: 1.5;
        color: #99A3C9;
        margin-bottom: rem-calc(5);
        @media (max-width: 768px) {
            font-size: rem-calc(18);
        }

        &--top {
            padding-top: rem-calc(30);
        }

        &--center {
            padding-top: rem-calc(14);
        }
    }

    &__swap-text {
        font-size: rem-calc(12);
        line-height: 1.5;
        color: #99A3C9;
        margin-bottom: rem-calc(22);
        @media (max-width: 768px) {
            font-size: rem-calc(18);
        }

        &--white {
            color: $clr-white;
        }
    }

    &__swap-text-wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: rem-calc(24);
        margin-bottom: rem-calc(-12);
    }

    &__transfer-text {
        font-size: rem-calc(12);
        line-height: 1.5;
        color: #99A3C9;
        margin-bottom: rem-calc(28);
        margin-top: rem-calc(-10);
        @media (max-width: 768px) {
            font-size: rem-calc(18);
        }
    }

    &__withdraw-text {
        font-size: rem-calc(12);
        line-height: 1.5;
        text-align: center;        
        color: #666D8A;

        &--right {
            margin-top: rem-calc(-20);
            text-align: right;
            margin-bottom: rem-calc(5);
        }

        &--left {
            margin-top: rem-calc(-5);
            text-align: left;
            margin-bottom: rem-calc(10);
        }
    }

    &__withdraw-text-big {
        margin-bottom: rem-calc(36);
        font-size: rem-calc(16);
        line-height: 1.5;
        text-align: center;        
        color: #666D8A;

        &--green {
            color: #66BE47;
        }
    }    

    &__row {
        display: flex;
    }


    &__select-nft {
        position: relative;
        display: flex;
        margin-bottom: rem-calc(15);
        justify-content: flex-start;
        padding: rem-calc(11) rem-calc(40) rem-calc(11) rem-calc(15);
    }

    &__select-nft-content {
        display: flex;
        align-items: center;
        min-height: rem-calc(30);

        &--select {
            cursor: pointer;
            padding-bottom: rem-calc(11);
            min-height: rem-calc(41);
        }
    }

    &__select-nft-content-item {
        padding-top: rem-calc(11);
        padding-bottom: rem-calc(11);
        padding-left: rem-calc(10);
        cursor: pointer;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;
        margin-bottom: -1px;

        &:hover {
            background: rgba(102, 190, 71, 0.1);
            border-color: #66BE47;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &--active {
            position: relative;
            background: rgba(102, 190, 71, 0.1);
            border: 1px solid #66BE47;
            pointer-events: none;

            &:before {
                content: "";
                position: absolute;
                top: rem-calc(14);
                right: rem-calc(15);
                background: url(../img/modal/select-nft-check.png) no-repeat 50% 50% /contain;
                width: rem-calc(24);
                height: rem-calc(24);
            }
        }
    }

    &__select-nft-icon {
        width: rem-calc(30);
        height: rem-calc(30);
        margin-right: rem-calc(10);
    }

    &__super-select-wrapper {
        position: relative;
    }

    &__select-nft-list-wrapper {
        height: 100%;
        max-height: calc(100% - #{rem-calc(42)});
        overflow-y: auto;
    }

    &__select-nft-list {
        margin-right: rem-calc(15);
    }

    &__super-select-list {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 20;
        padding: rem-calc(11) rem-calc(15);

        .select {
            &:not(:nth-child(2)) {
                border-top: 1px solid rgba(255, 255, 255, 0.15);
                height: rem-calc(56);
                &:after {
                    display: none;
                }
            }
        }
    }
}