.search {
    position: relative;
    padding: rem-calc(10) rem-calc(20);
    font-size: rem-calc(16);
    line-height: 1.5;
    color: $clr-white;
    transition: .3s;

    &__input {
        display: block;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &--icon {
        padding-left: rem-calc(50);
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: rem-calc(10);
            width: rem-calc(30);
            height: rem-calc(24);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            transform: translateY(-50%);
        }
    }

    &--icon-search {
        &:before {
            background-image: url("../img/icons/icon-search.svg");
        }
    }

    &:hover {

        .mask-btn {
            &--border {
                &:before {
                    background: #fff;
                }
            }
        }
    }
}