.slots {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem-calc(30);
    margin-bottom: rem-calc(30);
    position: relative;
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }

    &__providers {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        padding: rem-calc(24);
    }

    &__providers-text {
        margin-bottom: rem-calc(28);
    }

    &__providers-grid {
        grid-template-columns: repeat(6, 1fr);

        @media (max-width: 1024px) {
            grid-template-columns: repeat(5, 1fr);
        }
        @media (max-width: 768px){
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 480px){
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__providers-link {
        display: block;
        position: relative;
        text-align: center;
        padding: rem-calc(8) rem-calc(40);
        pointer-events: auto;

        .mask-bg {
            transition: .3s;
        }

        &:hover {
            .mask-bg {
                background: $clr-accent;
            }
        }
    }

    &__group {
        padding: rem-calc(16) rem-calc(18) rem-calc(19);
        position: relative;
    }

    &__group-info {
        padding-bottom: rem-calc(16px);
        display: flex;
        align-items: center;
        border-bottom: rem-calc(1) solid rgba(255, 255, 255, .15);
        margin-bottom: rem-calc(18);
    }

    &__group-logo {
        width: rem-calc(50);
        height: rem-calc(50);
        background: $clr-accent;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: rem-calc(8);
        margin-right: rem-calc(12);
    }

    &__group-logo-img {
        display: inline-block;
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }

    &__group-name {
        font-family: "Pixel";
        text-transform: uppercase;
        font-weight: 400;
        font-size: rem-calc(16);
        line-height: 1.2;
        color: $clr-white;
        margin-right: rem-calc(12);
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media (max-width: 1024px) {
            font-size: rem-calc(20);
        }
    }

    &__group-link {
        @media (max-width: 1024px) {
            font-size: rem-calc(20);
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        
        .slot {
            width: 32%;
            min-width: 32%;
            max-width: 32%;
            @media (max-width: 1024px) {
                width: 48%;
                min-width: 48%;
                max-width: 48%;
            }
            @media (max-width: 768px) {
                width: rem-calc(270);
                min-width: rem-calc(270);
                max-width: rem-calc(270);
            }
            @media (max-width: 480px) {
                width: 48%;
                min-width: 48%;
                max-width: 48%;
            }
        }       

        .slot:nth-child(3) {
            @media (max-width: 1024px) {
                display: none;
            }
            @media (max-width: 768px) {
                display: block;
            }
            @media (max-width: 480px) {
                display: none;
            }
        }
    }
}