.slots {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem-calc(30);
    margin-bottom: rem-calc(30);

    &__group {
        background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(12.5px);
        padding: rem-calc(16) rem-calc(18) rem-calc(19);
        min-height: rem-calc(50);
    }
}