.slot-open {
    padding: rem-calc(40) rem-calc(40) rem-calc(52);

    &__iframe {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: rem-calc(35);
        border-radius: rem-calc(10) rem-calc(10) 0 0;
    }

    &__info {
        padding: rem-calc(45) rem-calc(45) rem-calc(35);
        position: relative;        
    }

    &__info-title {
        font-family: "Pixel";
        text-transform: uppercase;
        font-weight: 400;
        font-size: rem-calc(28);
        line-height: .9;
        margin-bottom: rem-calc(15);
        color: $clr-white;
    }

    &__info-text {
        font-weight: 700;
        font-size: rem-calc(14);
        line-height: 1.79;
        color: #99A3C9;
        padding-bottom: rem-calc(15);
        margin-bottom: rem-calc(20);
        border-bottom: rem-calc(1) solid rgba(255, 255, 255, .15);
    }

    &__info-title-settings {
        font-family: "Pixel";
        text-transform: uppercase;
        font-weight: 400;
        font-size: rem-calc(16);
        line-height: 1.5;
        margin-bottom: rem-calc(15);
        color: $clr-white;
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        gap: rem-calc(15);
        @media (max-width: 480px) {
            justify-content: center;
        }
    }

    &__button-demo {
        margin-right: auto;
        padding-right: rem-calc(86);
        @media (max-width: 480px) {
            margin-left: auto;
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: rem-calc(21);
            width: rem-calc(50);
            height: rem-calc(28);
            background: url("../img/icons/icon-slot-open-demo-off.svg") no-repeat 50% 50% /contain;            
        }

        &--active {
            &:before {
                background-image: url("../img/icons/icon-slot-open-demo-on.svg");
            }
        }
    }

    &__button-chat {
        color: #66BE47;
        margin-right: rem-calc(15);

        .mask-bg {
            background: rgba(102, 190, 71, .15);
        }

        .mask-btn--border {
            &:before {
                background: rgba(102, 190, 71, .25);
            }                
        }

        &:hover {
            .mask-btn--border {
                &:before {
                    background: #66BE47;
                }
            }
        }
    }

    &__button-chat-img {
        display: inline-block;
        width: rem-calc(20);
        height: rem-calc(20);
        margin-right: rem-calc(12);
    }

    &__button-favourite {
        display: block;
        margin-right: rem-calc(15);
        width: rem-calc(56);
        height: rem-calc(56);

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("../img/icons/icon-slot-open-favourite.svg") no-repeat 50% 50% /contain;
        }

        &--active {
            .mask-bg--light {
                background-color: rgba(234, 74, 74, .65);
            }
        }
    }

    &__button-full {
        display: block;
        width: rem-calc(56);
        height: rem-calc(56);
        background: url("../img/icons/icon-slot-open-full.svg") no-repeat 50% 50% /contain;
    }
}