.slots {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem-calc(30);
    margin-bottom: rem-calc(30);

    &__group {
        background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(12.5px);
        padding: rem-calc(16) rem-calc(18) rem-calc(19);
        min-height: rem-calc(50);
    }

    &__group-info {
        padding-bottom: rem-calc(16px);
        display: flex;
        align-items: center;
        border-bottom: rem-calc(1) solid rgba(255, 255, 255, .15);
        margin-bottom: rem-calc(18);
    }

    &__group-logo {
        width: rem-calc(50);
        height: rem-calc(50);
        background: $clr-accent;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: rem-calc(8);
        margin-right: rem-calc(12);
    }

    &__group-logo-img {
        display: inline-block;
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }

    &__group-name {
        font-weight: 400;
        font-size: rem-calc(16);
        line-height: 1.2;
        color: $clr-white;
        margin-right: rem-calc(12);
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__group-link {
        position: relative;
        padding: rem-calc(12) rem-calc(20) rem-calc(14);
        font-weight: 700;
        font-size: rem-calc(12);
        line-height: 1.5;
        cursor: pointer;
        transition: .3s;
        background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(22.5px);
        border: rem-calc(1) solid rgba(255, 255, 255, 0.15);
        color: $clr-white;

        &:hover {
            opacity: 0.7;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3,1fr) ;
        gap: rem-calc(15);
    }

    &__item {
        background: rgba(30, 34, 52, 0.65);
        backdrop-filter: blur(27.5px);
        padding-bottom: rem-calc(25);
    }

    &__item-img-wrapper {
        height: 0;
        padding-bottom: 100%;
        margin-bottom: rem-calc(16);
        position: relative;
        cursor: pointer;

        &:hover {
            .slots__item-bg-hover {
                opacity: 1;
            }
        }
    }

    &__item-bg-hover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(30, 34, 52, 0.85);
        backdrop-filter: blur(5px);
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $clr-white;
        padding: rem-calc(15);
        transition: .3s;
        will-change: opacity;
        opacity: 0;
    }

    &__item-icon-hover {
        display: inline-block;
        width: rem-calc(58);
        height: rem-calc(58);
        margin-bottom: rem-calc(14);
        background: url("../img/svg/slots-play.svg") no-repeat 50% 50% /contain;
    }

    &__item-text-hover {
        font-size: rem-calc(20);
        line-height: .9;
    }

    &__item-img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__item-info-wrapper {
        display: flex;
        max-width: calc(100% - #{rem-calc(48)});
        margin: 0 auto;
    }

    &__item-info {
        flex-grow: 1;
        margin-right: rem-calc(15);
        color: $clr-white;
        max-width: rem-calc(95);
    }

    &__item-name {
        font-family: "Pixel";
        font-size: rem-calc(16);
        line-height: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-transform: uppercase;
    }

    &__item-key {
        font-weight: 700;
        font-size: rem-calc(12);
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $clr-gray;
    }

    &__item-more {
        flex-shrink: 0;
        width: rem-calc(30);
        height: rem-calc(30);
        background: url("../img/svg/slots-more.svg") no-repeat 50% 50% /contain;
        opacity: .25;
        transition: .3s;
        cursor: pointer;
        margin-left: auto;

        &:hover {
            opacity: 1;
        }
    }
}